.portal-ontainer {
    position: fixed;
    bottom: 0;
    right: 1rem;
    background: white;
    box-shadow: 1px 1px 5px #0006;
    border-radius: 4px;

    h4 {
        padding: 4px 1rem;
    }

    .content {
        padding: 4px 1rem;
    }

}